In [1]:
import pandas as pd
import time

In [2]:
start_time = time.time()
def main():
    def dc_split(line):
        A = line.split(',')
        date = A[2]
        year = date[0:4]
        cost = float(A[7])
        dcv = [year,cost]
        return dcv

    def cpy(co,data1):
        df = []
        data = []
        co = str(co)
        with open(f"{co}.csv") as f:
            for line in f:
                a = dc_split(line)
                data.append(a)
        for year in range(2015,2020):
            closes = []
            close_changes = []
            for i in range(len(data)):
                if str(year) == data[i][0]:
                    close = data[i][1]
                    closes.append(close)
            for i in range(len(closes)-1):
                close_change = closes[i+1] - closes[i]
                close_changes.append(close_change)
            change_max = max(close_changes)
            df.append(change_max)
        data1.append(df)
    data1=[]
    companies = [
        "ALRS",
        "GAZP",
        "CHMF",
        "ADR.FIVE",
        "GMKN",
        "LKOH",
        "MGNT",
        "MTSS",
        "NLMK",
        "NVTK",
        "ROSN",
        "SBER",
        "SNGS",
        "TATN",
        "YNDX"
    ]
    for co in companies:
        cpy(co,data1)
    df = pd.DataFrame(data=data1, index = companies, columns = range(2015,2020))
    return df

main()
print("--- %s seconds ---" % (time.time() - start_time))
main()

--- 0.04999399185180664 seconds ---

            2015      2016     2017     2018     2019
ALRS        5.90    3.8800    5.550    3.900    2.970
GAZP        7.54    9.6500    6.380   11.780   26.670
CHMF       40.00   44.7000   45.300   65.900   29.000
ADR.FIVE    1.40    1.7079    1.970    2.640    1.800
GMKN      711.00  481.0000  458.000  643.000  672.000
LKOH      227.00  128.1000  161.500  288.500  240.000
MGNT      840.00  735.0000  403.000  347.000  185.000
MTSS       13.00   14.0000   16.600   15.400   10.000
NLMK        3.85    8.6400    8.440    8.510    6.640
NVTK       33.30   34.6000   36.400   65.700   52.000
ROSN       16.15   19.6000   13.000   22.850   19.650
SBER        7.42    9.0300   12.160   15.440    6.710
SNGS        2.30    1.6250    1.665    1.315    4.675
TATN       19.50   25.3000   54.450   47.800   33.500
YNDX      102.00  107.5000  266.500  129.000  258.200